{% extends 'navigation.html' %}
{% block body %}
<div style="background-color:brown;width:100%;height:40px">
 <h2 class="text-white text-center ">About Us</h2>
</div>

<div class="carousel-inner">
         <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="\static\aa.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            
        </div>
        </div>
        
 </div>
 <div class="container mt-2">
 <h4>Hello Friends!!!<br></h4>
<p><b> This is the <u>Simple Study Note Sharing Site </u>developed by Diksha Trivedi, IT-Branch of ABES engineering College,Ghaziabad;
 using Django, HTML, CSS, JS, Bootstrap, and sqlite.</b> 
 </div>

{% endblock %}